@import "~element-ui/packages/theme-chalk/src/mixins/mixins";
@import "~element-ui/packages/theme-chalk/src/common/var";

@include b(box) {
    @include m(pad) {
        padding: 20px;
    }

    @include when(flex1) {
        flex: 1;
    }

    @include when(flexbox) {
        display: flex;
    }

    @include when(vertical) {
        flex-direction: column;
    }

    @include when(vstart) {
        align-items: start;
    }

    @include when(vcenter) {
        align-items: center;
    }

    @include when(vend) {
        align-items: flex-end;
    }

    @include when(center) {
        justify-content: center;
        margin: 0 auto;
    }
    @include when(right) {
        justify-content: right;
    }

    @include when(spacing) {
        > * {
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
