@import '~element-ui/packages/theme-chalk/src/mixins/mixins';
@import 'mixins/breakpoints.scss';

/**
 * el-dropdown-select
 *
 * a dropdown that shows the current selection with a caret next to it
 */
@include b(dropdown-select) {
    cursor: pointer;

    // the handle is the text with a caret that indicates this is a dropdown
    @include e(handle) {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;

        > span {
            white-space: normal;
            vertical-align: middle;
        }
        > svg {
            vertical-align: middle;
            // position: relative;
            // top: -2px;
            margin-left: 2px;
        }
    }
}

/**
 * el-dropdown-menu--select
 *
 * dropdown menu used with el-dropdown-select
 */
@include b(dropdown-menu--select) {
    cursor: pointer;

    // the handle is the text with a caret that indicates this is a dropdown
    @include e(handle) {
        > svg {
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-left: 2px;
        }
    }

    @include e(divider) {
        height: 1px;
        background: #ccc;
    }
}
