@import "~element-ui/packages/theme-chalk/src/mixins/mixins";
@import "mixins/breakpoints.scss";
// @import "var";

@mixin el-popover--full() {
    border-radius: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: unset;
    &.el-popper {
        margin: 0;
    }
    top: 0 !important;
    left: 0 !important;
    transform: unset !important;
    position: fixed !important;
}

@include b(popover) {
    box-sizing: border-box;

    @include e(close) {
        display: none;
        user-select: none;

        // place close button in the top right corner
        top: 5px;
        right: 5px;
        position: absolute;
        z-index: 1;

        // bigger size for close button on mobile
        > svg {
            width: 28px;
            height: 28px;
        }

        // do not show close button on desktop
        @include media(">=desktop") {
            display: none;
        }
    }

    @include m(nopad) {
        padding: 0;
    }

    // full sizes drawers for mobile
    @include m(full-phone) {
        @include media("<tablet") {
            @include e(close) {
                display: block;
            }
            @include el-popover--full();
        }
    }

    @include m(full-tablet) {
        @include media("<desktop") {
            @include e(close) {
                display: block;
            }
            @include el-popover--full();
        }
    }
}
