$el-spacer-spacing-hor: 0.5em !default;
$el-spacer-spacing-ver: 0.5em !default;

$id: el-spacer;
.#{$id} {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;

    &--flex {
        display: flex;
        flex-direction: row;
    }

    &--inline-flex {
        display: inline-flex;
    }

    &--flex,
    &--inline-flex {
        &.#{$id}--vertical {
            flex-direction: column;
        }

        &.#{$id}--center {
            align-items: center;
        }

        &.#{$id}--valign-center {
            align-items: center;
        }

        &.#{$id}--wrap {
            flex-wrap: wrap;
        }
    }

    > * {
        display: block;
    }

    &--inline {
        > * {
            display: inline-block;
        }
    }

    &--nowrap {
        white-space: nowrap;
    }

    &--debug {
        > * {
            background: #666;
        }
    }

    // -- Default (horizontal mode)
    &:not(.#{$id}--vertical):not(.#{$id}--grid) {
        > .el-spacer__item {
            display: inline-block;
        }
        > * {
            margin-right: $el-spacer-spacing-hor;
            margin-bottom: 0;
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    &--size-sm {
        > * {
            margin-right: .5em;
            margin-bottom: 0;
        }
    }

    &--size-md {
        > * {
            margin-right: 1em;
            margin-bottom: 0;
        }
    }

    &--size-lg {
        > * {
            margin-right: 1.5em;
            margin-bottom: 0;
        }
    }

    // -- Vertical mode
    &--vertical {
        > .el-spacer__item {
            display: block;
        }
        > * {
            margin-bottom: $el-spacer-spacing-ver;
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
                margin-right: 0;
            }
        }
    }

    &--size-sm.#{$id}--vertical {
        > * {
            margin-bottom: .5em;
            margin-right: 0;
        }
    }

    &--size-md.#{$id}--vertical {
        > * {
            margin-bottom: 1em;
            margin-right: 0;
        }
    }

    &--size-lg.#{$id}--vertical {
        > * {
            margin-bottom: 1.5em;
            margin-right: 0;
        }
    }

    // -- Grid mode
    &--grid {
        > .el-spacer__item {
            display: inline-block;
        }
        > * {
            margin-right: $el-spacer-spacing-hor;
            margin-bottom: $el-spacer-spacing-ver;
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    &--size-md,
    &--grid {
        > * {
            margin-bottom: 1em;
            margin-right: 1em;
        }
    }

    &--size-lg,
    &--grid {
        > * {
            margin-bottom: 1.5em;
            margin-right: 1.5em;
        }
    }
}
