@import "~@websanova/element-ui-mobile/packages/theme-chalk/src/mixins/breakpoints";

.text-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
    justify-content: center;
}
.text-right {
    text-align: right;
    justify-content: flex-end;
}

.text-wrap {
    word-break: break-word;
    word-wrap: break-word;
}
.text-break {
    word-break: break-all;
    word-wrap: break-word;
}
.text-nobreak {
    word-break: keep-all;
    white-space: nowrap;
}

.text-primary {
    color: $--color-text-primary;
}
.text-regular {
    color: $--color-text-regular;
}
.text-label,
.text-secondary {
    color: $--color-text-secondary;
}
.text-muted,
.text-placeholder {
    color: $--color-text-placeholder;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.csr-ptr {
    cursor: pointer;
}

@include media("<desktop") {
    .text-right-xs {
        text-align: right;
    }
}
